.fakeContent {
  font-size: 3em;
  padding: 14px;
  margin: 0;
}

.containerAppClient {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.containerAppClient > .rightContent {
  flex: 1;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.containerAppClient > .rightContent > .pageContent {
  flex-grow: 1;
}

/**
  * MOBILE VERSION.
  */
@media screen and (max-width: 900px) {
  .containerAppClient {
    flex-direction: column;
  }

  .containerAppClient > .rightContent {
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
  }

}

