.profilCustomerPage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
}

.profilCustomerPage > .box-title {

}

.profilCustomerPage > .box-title > h1.title {
  color: #2c2c2c;
  font-size: 40px;
}

.profilCustomerPage > .box-data {
  box-shadow: 1px 1px 4px rgba(85, 85, 85, 0.3);
  border-radius: 7px;
}

.profilCustomerPage > .box-data > .box-header {
  background-color: #2c2c2c;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.profilCustomerPage > .box-data > .box-header > h1.title {
  color: #e59e17;
  font-size: 36px;
  margin: 0;
  padding: 0 20px;
}

.profilCustomerPage > .box-data > .box-content {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 50px;
}


.profilCustomerPage > .box-data > .box-footer {
  background-color: #2c2c2c;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.profilCustomerPage > .box-data > .box-header,
.profilCustomerPage > .box-data > .box-content,
.profilCustomerPage > .box-data > .box-footer {
  padding: 20px 60px;
}

.box-item-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 0;
}

.box-item-input > .bt-label {
  color: #2c2c2c;
  font-size: 24px;
  width: 250px;
  min-width: 150px;
}

.box-item-input > .bt-input {
  border: 2px solid #dddddd;
  flex-grow: 1;
  margin: 0 20px;
  border-radius: 7px;
  height: 40px;
  font-size: 18px;
  padding: 0 7px;
  color: #2c2c2c;
  transition: 0.7s;
}

.box-item-input > .bt-btn {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #2c2c2c;
  cursor: pointer;
}

.box-item-input > .bt-btn:hover { 
  background-color: #2c2c2c;
  color: #dddddd;
}

.box-item-input > .bt-input.bt-input-value {
  background-color: transparent !important;
  border: 0 !important;
}

.box-item-divider {
  background-color: #cecece;
  height: 2px;
  width: 100%;
  margin: 15px 0;
}

/**
  * box-addr
  */

.box-addr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.box-addr > .ba-title {
  color: #ffffff;
  font-size: 24px;
  padding: 0 10px;
  width: 150px;
  min-width: 150px;
}

.box-addr > .ba-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.addr-btn {
  background-color: white;
  font-size: 24px;
  color: #2c2c2c;
  padding: 7px 21px;
  margin: 20px;
  cursor: pointer;
  display: block;
  word-wrap: break-word;
}

.addr-btn:hover {
  text-decoration: underline;
}

/**
  *
  */

@media screen and (max-width: 900px) {
  .profilCustomerPage {
    padding: 20px 20px;
  }

  .profilCustomerPage > .box-data > .box-content,
  .profilCustomerPage > .box-data > .box-footer {
    padding: 10px 20px;
  }

  .box-item-input {
    flex-direction: column;
  }

  .box-addr {
    flex-direction: column;
  }

  .box-addr .ba-title {
    width: 100%;
  }

  .box-addr .ba-content {
    width: 100%;
  }
}

/**
  * box-mode-eco
  */

.box-mode-eco {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box-mode-eco .title {
  color: #2c2c2c;
  font-size: 24px;
  padding: 0 20px;
}

.box-mode-eco .title  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: 40px;
}

.icon-mode-ecolo {
  background-image: url('/assets/imgs/icons/leaf.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.bme-info {
  width: 100%;
  max-width: 250px;
  background-color: #ffffff;
  margin: 7px 7px 7px 21px;
  position: relative;
  display: flex;
  align-items: center;
}

.bme-info > p {
  padding: 7px;
  font-size: 16px;
  color: #847f7f;
  text-align: center;
}

.bme-info:before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid white; 
}

.profilPicture {
  width: 150px;
  height: 150px;
  border: 2px solid #2c2c2c;
  border-radius: 50%;
  background-color: white;
  background-image: url('/assets/imgs/userDefaultPicture.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 4px rgba(85, 85, 85, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editPicture {
  display: none;
  background-color: rgba(85, 85, 85, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
}

.profilPicture:hover .editPicture {
  display: initial;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
}

.divInfoAgent {
  margin: 20px 0;
}

.btnInfoAgent {
  text-decoration: none;
  color: white;
  background-color: rgba(229, 158, 23, 0.8);
  padding: 14px 21px;
  font-size: 30px;
  border-radius: 7px;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
  cursor: pointer;
  text-align: center;
}

.btnInfoAgent:hover {
  background-color: rgba(229, 158, 23, 1);
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .box-mode-eco {
    flex-direction: column;
  }

  .bme-info:before {
    display: none;
  }

  .profilCustomerPage > .box-data > .box-header {
    flex-direction: column;
  }

  .profilCustomerPage > .box-data > .box-header > h1.title {
    padding: 0 0 0 0;
  }

  .btnInfoAgent {
    display: block;
  }
}
