.navBar {
  width: 100%;
  height: 56px;
  background: red;
  position: fixed;
}

.navBar > .itemList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.navBar > .itemList > .item {
  margin: 0;
  padding: 0;
  padding: 0 14px;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

/**
  * MOBILE MENU
  */

.navBar > .mobileContent {
  width: 100%;
  height: calc(100vh - 56px);
  margin: 56px 0 0 0;
  background: red;
  position: fixed;
  z-index: 2;
  display: none;
}

.navBar > .mobileContent > .itemList {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.navBar > .mobileContent > .itemList > .item {
  margin: 0;
  padding: 14px;
  font-size: 2em;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .navBar > .itemList > .item.hideMobile {
    display: none;
  }

  .navBar.openMobile > .mobileContent {
    display: initial;
  }
}
