.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.searchBarContent {
  width: 100%;
  max-width: 650px;
}

/**
  * SEARCH BAR RESULT
  */
.searchBarResult {
  width: 100%;
  max-width: 584px;
  margin: 10px 66px 10px 0; /* 66px = search bar btn */
  height: auto;
  background-color: #fbfbfb;
  padding: 15px 30px;
}

/**
  * MOBILE VERSION.
  */
@media screen and (max-width: 1050px) {
  .searchBarResult {
    max-width: 650px;
    margin: 10px 0;
  }
}

/**
  * SEARCH BAR NO RESULT
  */

.searchBarNoResult {
  width: 100%;
  max-width: 1000px;
}

.searchBarNoResult > .content {
  background-image: url('/assets/imgs/background/noResultFound.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.searchBarNoResult > .content > h1,
.searchBarNoResult > .content > h2,
.searchBarNoResult > .content > label {
  display: block;
  text-align: center;
  color: #747474;
  margin-bottom: 0;
}

.searchBarNoResult > .content > h1,
.searchBarNoResult > .content > label {
  font-size: 30px;
}

.searchBarNoResult > .content > h2 {
  margin: 0;
  font-size: 24px;
  flex: 1;
}

.searchBarNoResult > .footer {
  display: flex;
  justify-content: center;
}

.searchBarNoResult > .footer > .footerContent {
  margin: 20px;
  display: flex;
}

.btnCreateCMD {
  text-decoration: none;
  color: white;
  background-color: rgba(229, 158, 23, 0.8);
  width: 100%;
  padding: 14px 21px;
  font-size: 30px;
  border-radius: 7px;
  transition: 0.5;
  cursor: pointer;
  text-align: center;
  display: block;
}

.btnCreateCMD:hover {
  background-color: rgba(229, 158, 23, 1);
  text-decoration: underline;
}
