.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.searchBarContent {
  width: 100%;
  max-width: 650px;
}

/**
  * SEARCH BAR RESULT
  */
.searchBarResult {
  width: 100%;
  max-width: 584px;
  margin: 10px 66px 10px 0; /* 66px = search bar btn */
  height: auto;
  background-color: white;
  padding: 15px 30px;
}

/**
  * MOBILE VERSION.
  */
@media screen and (max-width: 1050px) {
  .searchBarResult {
    max-width: 650px;
    margin: 10px 0;
  }
}


