.containerAppVisitor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.containerAppVisitor > .content {
  margin-top: 56px; /* TOP BAR HEIGHT */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
